:root {
  --main-color: #ffffff;
  --text-color: #2E3E52;
  --title-color: #46a0f7;
  --danger-color: #F56C6C;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.background {
  background-color: var(--main-color);
}

.text-color {
  color: var(--text-color)
}

.red-text {
  color: var(--danger-color) !important;
}

.title-color {
  color: var(--title-color);
}

.active {
  border-bottom: 1px solid var(--text-color);
}

.no-res {
  text-align: center;
  margin-top: 2rem;
  color: var(--danger-color);
  font-size: 1.2rem;
}
