<template>
  <div class="home background">
    <mg-header />

    <div class="content">
      <div class="search-bar">
        <mg-input :style="inputStyle" v-model="text_input" @enter="addNote"></mg-input>
        <button type="button" class="save-button" @click="addNote">SAVE</button>
      </div>

      <filter-bar :active-number="itemsLeft"
                  :items-done="itemsDone"
                  @clearCompleted="clearCompletedItems" />

      <template v-if="filteredList.length > 0">
        <note-card :note="note" v-for="note in filteredList" :key="note.id"
                   @delete="deleteNote" @complete="markComplete" />
      </template>
      <div v-else class="no-res">No Items Found</div>
    </div>
  </div>
</template>

<script>
import MgHeader from "@/components/MgHeader";
import MgInput from "@/components/MgInput";
import NoteCard from "@/components/NoteCard";
import FilterBar from "@/components/FilterBar";
import { generateUUID } from "@/common/utils";
import { mapState } from 'vuex'

export default {
  name: 'Home',
  components: {
    MgHeader, MgInput, NoteCard, FilterBar
  },
  mounted() {
    this.activate()
  },
  data() {
    return {
      text_input: null,
      todo_list: []
    }
  },
  computed: {
    ...mapState({
      active_filter: state => state.active_filter
    }),
    filteredList() {
      switch (this.active_filter) {
        case 'all': {
          return this.todo_list
        }
        case 'active': {
          return this.todo_list.filter(item => item.status === 'active')
        }
        case 'completed': {
          return this.todo_list.filter(item => item.status === 'completed')
        }
        default: {
          return this.todo_list
        }
      }
    },
    itemsLeft() {
      return this.todo_list.filter(item => item.status === 'active').length
    },
    itemsDone() {
      return this.filteredList.filter(item => item.status === 'completed').length
    },
    inputStyle() {
      return {
        flex: '1'
      }
    }
  },
  methods: {
    activate() {
      this.todo_list = JSON.parse(localStorage.getItem('todoList')) || []
    },
    addNote() {
      if (!this.text_input) {
        return
      }

      let payload = {
        id: generateUUID(),
        status: 'active',
        value: this.text_input
      }

      this.text_input = null

      this.todo_list.push(payload)
      localStorage.removeItem('todoList')
      localStorage.setItem('todoList', JSON.stringify(this.todo_list))
    },
    markComplete(note) {
      this.todo_list = this.todo_list.map(item => {
        if (item.id === note.id) {
          item.status = 'completed'

          return item
        }

        return item
      })

      localStorage.removeItem('todoList')
      localStorage.setItem('todoList', JSON.stringify(this.todo_list))
    },
    deleteNote(note) {
      let index = this.todo_list.findIndex(item => item.id === note.id)

      this.todo_list.splice(index, 1)
      localStorage.removeItem('todoList')
      localStorage.setItem('todoList', JSON.stringify(this.todo_list))
    },
    clearCompletedItems() {
      this.todo_list = this.todo_list.filter(item => item.status === 'active')

      localStorage.removeItem('todoList')
      localStorage.setItem('todoList', JSON.stringify(this.todo_list))
    }
  }
}
</script>

<style scoped lang="scss">
.home {
  height: 100vh;
  overflow: hidden;

  .content {
    max-width: 60vw;
    margin: 0 auto;
    height: calc(100% - 76px);
    overflow-y: auto;

    .search-bar {
      display: flex;
      align-items: stretch;
      width: 100%;

      .save-button {
        margin-left: 1rem;
        background-color: var(--main-color);
        color: var(--text-color);
        border: 1px solid var(--text-color);
        outline: none;
        padding: 0 1rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: var(--text-color);
          color: var(--main-color);
          border-color: var(--main-color);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .content {
      max-width: 70vw;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .content {
      max-width: 90vw;
    }
  }
}
</style>
