<template>
  <div class="change-theme">
    <span class="text-color"
          :class="{ active: active_theme === 'light' }"
          @click="changeTheme('light')">LIGHT</span>
    <span class="text-color"> / </span>
    <span class="text-color"
          :class="{ active: active_theme === 'dark' }"
          @click="changeTheme('dark')">DARK</span>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: "ChangeTheme",
  computed: {
    ...mapState({
      active_theme: state => state.active_theme
    })
  },
  methods: {
    ...mapMutations([
      'setTheme'
    ]),
    changeTheme(theme) {
      this.setTheme(theme)
    }
  }
}
</script>

<style lang="scss" scoped>
.change-theme {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -11px;

  span {
    padding: 0 10px;
    cursor: pointer;
  }
}
</style>
