<template>
  <div class="filter-bar">
    <span class="text-color" style="flex: 1">
      {{ activeNumber }} {{ activeNumber !== 1 ? 'Items' : 'Item' }} Left
    </span>
    <div class="filters">
      <span class="badge" :class="{ 'active-badge': active_filter === filter }"
            @click="changeFilter(filter)"
            v-for="filter in filters" :key="filter">
        {{ filter }}
      </span>
    </div>
    <div class="clear-completed">
      <span v-if="itemsDone > 0" class="clear-badge" @click="$emit('clearCompleted')">Clear Completed</span>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: "FilterBar",
  props: ['activeNumber', 'itemsDone'],
  data() {
    return {
      filters: ['all', 'active', 'completed']
    }
  },
  computed: {
    ...mapState({
      active_filter: state => state.active_filter
    })
  },
  methods: {
    ...mapMutations([
      'setActiveFilter'
    ]),
    changeFilter(filter) {
      this.setActiveFilter(filter)
    }
  }
}
</script>

<style lang="scss" scoped>
  .filter-bar {
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    .filters {
      display: flex;
      align-items: center;
      flex: 3;
      justify-content: center;

      .badge {
        font-size: .8rem;
        color: var(--text-color);
        border-radius: 30px;
        padding: 5px;
        border: 1px solid var(--text-color);
        cursor: pointer;
        min-width: 100px;
        text-align: center;
        text-transform: uppercase;

        &.active-badge, &:hover {
          color: var(--title-color);
          border-color: var(--title-color);
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .clear-completed {
      flex: 1;
      text-align: right;

      .clear-badge {
        font-size: .8rem;
        color: var(--danger-color);
        border-radius: 30px;
        padding: 5px 1rem;
        border: 1px solid var(--danger-color);
        cursor: pointer;
        text-align: center;
        font-weight: bold;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .filter-bar {
      flex-direction: column;

      >:first-child {
        margin-bottom: 1rem;
      }

      .clear-completed {
        margin-top: 1.5rem;
      }
    }
  }
</style>
