<template>
  <div class="header">
    <h1 class="title-color">Todo List</h1>

    <change-theme />
  </div>
</template>

<script>
import ChangeTheme from "@/components/ChangeTheme";

export default {
  name: "MgHeader",
  components: {
    ChangeTheme
  }
}
</script>

<style lang="scss" scoped>
  .header {
    background-color: transparent;
    padding: 1rem;
    position: relative;
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  @media (max-width: 768px) {
    .header {
      text-align: left;
    }
  }
</style>
