<template>
    <div class="form-group" v-bind="$attrs" :style="{
    'border-top-right-radius': borderRadiusTopRight,
    'border-bottom-right-radius':borderRadiusBottomRight,
    'border-top-left-radius':borderRadiusTopLeft,
    'border-bottom-left-radius':borderRadiusBottomLeft,
    'border-right-width':borderRightWidth,
    'border-left-width':borderLeftWidth,
    'border-top-width':borderTopWidth,
    'border-bottom-width':borderBottomWidth
  }">
      <slot>
<!--        Dummy input in order to disable autocomplete-->
        <input tabindex="-1" style="position: absolute; height: 0; width: 0; z-index: -1; border: 0" :value="value" />

        <input type="text"
               class="form-field"
               autocomplete="new-password"
               :placeholder="placeholder"
               :value="value"
               name="note-input"
               id="note-input"
               v-on="inputListeners"
               :style="inputStyle"
               @keypress.enter="clicked" />

        <label for="note-input" class="form-label">{{ placeholder }}</label>
      </slot>

    </div>
</template>

<script>
export default {
  name: "MgInput",
  props: {
    value: {
      type: String
    },
    inputStyle: {
      type: Object,
      required: false,
      default: ()=>{}
    },
    buttonStyle: {
      type: Object,
      required: false,
      default: ()=>{}
    },
    placeholder: {
      required: false,
      type: String,
      default: 'Type Something'
    },
    borderRadiusTopRight: {
      required: false,
      type: String,
      default: '3px'
    },
    borderRadiusBottomRight: {
      required: false,
      type: String,
      default: '3px'
    },
    borderRadiusTopLeft: {
      required: false,
      type: String,
      default: '3px'
    },
    borderRadiusBottomLeft: {
      required: false,
      type: String,
      default: '3px'
    },
    borderRightWidth: {
      required: false,
      type: String,
      default: '1px'
    },
    borderLeftWidth: {
      required: false,
      type: String,
      default: '1px'
    },
    borderTopWidth: {
      required: false,
      type: String,
      default: '1px'
    },
    borderBottomWidth: {
      required: false,
      type: String,
      default: '1px'
    }
  },
  computed: {
    inputListeners() {
      // `Object.assign` merges objects together to form a new object
      return Object.assign({},
          // We add all the listeners from the parent
          this.$listeners,
          // Then we can add custom listeners or override the
          // behavior of some listeners.
          {
            // This ensures that the component works with v-model
            blur: event => {
              this.$emit('blur', event);
            },
            input: event => {
              //vm.$emit('input', event.target.value)
              this.$emit('input', event.target.value)
            },
            onfocus: event => {
              this.$emit('focus', event)
            }
          }
      )
    }
  },
  methods: {
    clicked() {
      this.$emit('enter')
    }
  }
}
</script>

<style lang="scss" scoped>

.form-group {
  font-family: "Lato", sans-serif;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;

  &:focus-within {
    border-color: var(--title-color);

    .form-field {
      color: var(--text-color)
    }
  }
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.0rem;
  color: var(--text-color);
  padding: 0;
  margin-top: 10px;
  background: transparent;

  &:focus {
    color: var(--text-color);
  }

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1rem;
    cursor: text;
    top: 50%;
    margin-top: -9px;
    padding: 0;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: var(--text-color);
  padding: 0;
}

.form-field:focus {
  font-weight: 400;

  ~ .form-label {
    position: absolute;
    top: 0;
    margin-top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: var(--title-color);
    font-weight: 400;
    padding: 0;
  }
}


</style>
