<template>
  <div class="note-card">
    <span @click="complete" style="cursor: pointer">
      <radio-button :checked="note.status === 'completed'" />
    </span>
    <span class="name">{{ note.value }}</span>
    <span @click="deleteNote" style="cursor: pointer"><x-icon class="remove" /></span>
  </div>
</template>

<script>
import RadioButton from "@/components/RadioButton";

export default {
  name: "NoteCard",
  props: ['note'],
  components: {
    RadioButton
  },
  methods: {
    deleteNote() {
      this.$emit('delete', this.note)
    },
    complete() {
      this.$emit('complete', this.note)
    }
  }
}
</script>

<style lang="scss" scoped>
  .note-card {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .name {
      flex: 1;
      padding: 0 1rem;
    }

    .remove {
      color: var(--danger-color);
    }
  }
</style>
