<template>
  <div class="circle" v-if="!checked" @click="$emit('click')"></div>
  <check-circle-icon v-else @click="$emit('click')"/>
</template>

<script>
export default {
  name: "radio-button",
  props: ['checked']
}
</script>

<style scoped lang="scss">
.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #dadada;
  margin-right: 10px;

  &:hover {
    border-color: var(--title-color);
  }
}

svg {
  stroke-width: 2px;
  stroke: var(--title-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 1 !important;
}
</style>
